<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="item">
            <div class="item-icon">Icon</div>
            <div>
                <h2>Mercado</h2>
                <p>30 DEZ</p>
            </div>
            <div>
                <h2>R$57,00</h2>
                <p>Pendente</p>
            </div>
        </div>
        <!-- Repita o bloco .item para cada entrada -->
    </div>
</body>
</html>
