<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="item">
            {% for spendings in spending %}
            <div class="date">
                <label class="date_d">{{spendings.spending.created_at|date:"d"}}</label>
                <label class="date_m">{{spendings.spending.created_at|date:"M"}}</label>
            </div>
            <div class="container-felx-end">
                <div class="cart-img">
                    <img src="{% static 'images/shopping-cart.png' %}" >
                </div>
                <div>
                    <p>{{spendings.spending.type}}</p>
                    <p>{{spendings.spending.type}}</p>
                </div>
                <div>
                    <p>R${{spendings.spending.value}}</p>
                    <p>{{spendings.status}}</p>
                </div>
            </div>
            {% endfor%}
        </div>
        <!-- Repita o bloco .item para cada entrada -->
    </div>
</body>
</html>
