{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'style/registration_spend.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/navbar.css' %}" />
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
{% endblock %}

{% block title %}
  Cadastrar Gasto
{% endblock %}

{% block content %}
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form">

        <label for="Divided">Conta(s) Dividida(s): </label>
        <div class="classDivided">
          <div class="arrow"></div>
          <div id="emailContainer"></div>
        </div>
        <input type="text" id="userInput" placeholder="Digite o email..." />
        <div id="userList"></div>
        
        {{ form.as_table }}

        <button class="buttonForm" type="submit">Cadastrar</button>
      </div>
    </form>
  </div>

  <script src="{% static 'js/selected_Input.js' %}"></script>

  <script>
    {% for message in messages %}
        alert("{{message}}");
    {% endfor %}
  </script>

  <script>
    $(document).ready(function() {
      $('.classDivided .arrow').on('click', function() {
        $('#userInput').toggle(); // Alterna a exibição do input#userInput
      });
    });
  </script>

{% include 'partials/navbar.html' %}
{% endblock %}