{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'style/registration_spend.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/navbar.css' %}" />
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
{% endblock %}

{% block title %}
  Cadastrar Gasto
{% endblock %}

{% block content %}
  <div class="container">
    <form method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
      {% csrf_token %}
      <div class="form">
        <label for="Divided">Conta(s) Dividida(s):</label>
        <div class="classDivided">
          <div class="arrow"></div>
          <div id="emailContainer"></div>
        </div>
        <span id="emailError" class="error" style="display: none;">Preencha este campo</span>
        <div class="divUserInput" id="divUserInput">
          <input type="text" id="userInput" placeholder="Digite o email..." />
          <div id="userList"></div>
        </div>
        <label id="id_type" for="id_type">Tipo:</label>
        <select name="type" id="id_type" required>
          <option value="" selected disabled>Selecione um tipo</option>
          <option value="MERCADO">Mercado</option>
          <option value="CASA">Casa</option>
        </select>
        <label for="id_title">Título:</label>
        <input type="text" name="title" maxlength="100" id="id_title" required/>
        <label for="id_value">Valor:</label>
        <input type="number" name="value" step="any" id="id_value" required/>
        <label for="id_voucher">Comprovante:</label>
        <input type="file" name="voucher" accept=".jpg, .png, .pdf" id="id_voucher" />
        <label for="id_description">Descrição:</label>
        <textarea name="description" cols="40" rows="10" id="id_description"></textarea>
        <button class="buttonForm" type="submit">Cadastrar</button>
      </div>
    </form>
  </div>

  <script src="{% static 'js/selected_Input.js' %}"></script>

  <script>
    {% for message in messages %}
        alert("{{message}}");
    {% endfor %}
  </script>
    

{% include 'partials/navbar.html' %}
{% endblock %}
